
<html>
<head>

<body>


					<h3> ID: <%=product.ID%></h3>
<p>Name: <%=product.Name%></p>
<p>Description: <%=product.description%></p>
	<img src="../images/<%=product.Image%>">


 
 


</body>
</html>
